
<div class="ui small labeled icon inverted menu">
  <div class="ui container">
    <a class="item">
      <i class="wechat icon"></i>
      Chatroom
    </a>
    <a class="item">
      <i class="envelope icon"></i>
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
         <i class="settings icon"></i>
         Account
        <div class="menu">
          <a class="item">Log in</a>
          <a class="item">Log out</a>
          <a class="item">Sign up</a>
        </div>
      </div>
      <div class="item">
          <i class="user icon"></i>
            Sign up
      </div>
    </div>
  </div>
</div>
